

h1 {color: navy; font size: 45; text-align: center; font-family:'Felipa' }
h2 {text-align: center }
p {color: navy; font-weight: bold; text-align: center;} 

Body { background: lightblue; 
	     color: navy;
	     font-size: 14pt;}
